Repository formatjs/rules_formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: bazel-lockfile, oxfmt, buildifier-format

bazel-lockfile:
  run: bazel mod deps

oxfmt:
  run: pnpm oxfmt {staged_files}
  stage_fixed: true

buildifier-format:
  run: "for file in {staged_files}; do\n  bazel run @buildifier_prebuilt//:buildifier -- --mode=fix \"$PWD/$file\"\ndone\n"
  stage_fixed: true

build: sync formatjs cli versions
  MODULE.bazel
  MODULE.bazel.lock
  examples/custom_version/MODULE.bazel
  examples/custom_version/README.md
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

build: sync formatjs cli versions (#62)
  MODULE.bazel
  MODULE.bazel.lock
  examples/custom_version/MODULE.bazel
  examples/custom_version/README.md
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

feat: update formatjs cli to 1.1.5
  .github/workflows/ci.yaml
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

feat: update formatjs cli to 1.1.5 (#65)
  .github/workflows/ci.yaml
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

ci: set Renovate minimum release age to 7d
  renovate.json
Due: oxfmt

ci: set Renovate minimum release age to 7d (#68)
  renovate.json
Due: oxfmt

build: fix Bazel 9.1 rules_go compatibility
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
Due: bazel-lockfile, buildifier-format

build: approve lefthook build for pnpm 11
  pnpm-workspace.yaml
Due: oxfmt

feat: add formatjs_cli versions through 1.1.12
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

feat: add formatjs_cli versions through 1.1.12 (#69)
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

feat: expose FormatJS CLI as executable target
  .github/workflows/ci.yaml
  MODULE.bazel.lock
  README.md
  cli/BUILD.bazel
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/repositories.bzl
  formatjs_cli/toolchain.bzl
  tests/cli/BUILD.bazel
  tests/cli/cli_test.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

feat: expose FormatJS CLI as executable target (#82)
  .github/workflows/ci.yaml
  MODULE.bazel.lock
  README.md
  cli/BUILD.bazel
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/repositories.bzl
  formatjs_cli/toolchain.bzl
  tests/cli/BUILD.bazel
  tests/cli/cli_test.bzl
Due: bazel-lockfile, oxfmt, buildifier-format

docs: document release workflow
  AGENTS.md
  CONTRIBUTING.md
  docs/releasing.md
Due: oxfmt

docs: document release workflow (#83)
  AGENTS.md
  CONTRIBUTING.md
  docs/releasing.md
Due: oxfmt

feat: add FormatJS CLI versions through 1.1.20
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, buildifier-format

feat: add FormatJS CLI versions through 1.1.20 (#84)
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, buildifier-format

fix: open BCR pull requests for review
  .github/workflows/publish.yaml
Due: oxfmt

fix: open BCR pull requests for review (#85)
  .github/workflows/publish.yaml
Due: oxfmt

feat: add FormatJS CLI versions through 1.2.0
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, buildifier-format

feat: add FormatJS CLI versions through 1.2.0 (#91)
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, buildifier-format

feat: automate releases with Release Please
  .github/workflows/release-please.yml
  .github/workflows/release.yaml
  .github/workflows/tag.yaml
  .release-please-manifest.json
  AGENTS.md
  CONTRIBUTING.md
  docs/releasing.md
  release-please-config.json
  version.txt
Due: oxfmt

feat: automate releases with Release Please (#92)
  .github/workflows/release-please.yml
  .github/workflows/release.yaml
  .github/workflows/tag.yaml
  .release-please-manifest.json
  AGENTS.md
  CONTRIBUTING.md
  docs/releasing.md
  release-please-config.json
  version.txt
Due: oxfmt

chore(main): release 0.10.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

chore(main): release 0.10.0 (#93)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

feat: support Rust extraction sources
  README.md
  formatjs/extract.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/messages_rust.json
  tests/arguments/test.rs
Due: bazel-lockfile, oxfmt, buildifier-format

feat: support Rust extraction sources (#95)
  README.md
  formatjs/extract.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/messages_rust.json
  tests/arguments/test.rs
Due: bazel-lockfile, oxfmt, buildifier-format

chore(main): release 0.11.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

chore(main): release 0.11.0 (#94)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

feat: support Python extraction sources
  README.md
  formatjs/extract.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/messages_python.json
  tests/arguments/test.py
Due: bazel-lockfile, oxfmt, buildifier-format

chore: update FormatJS CLI to 1.5.0
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, buildifier-format

feat: support Python extraction sources (#99)
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  formatjs/extract.bzl
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/messages_python.json
  tests/arguments/test.py
Due: bazel-lockfile, oxfmt, buildifier-format

chore(main): release 0.12.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

chore(main): release 0.12.0 (#100)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

chore: update FormatJS CLI to 1.6.0
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: bazel-lockfile, buildifier-format

test: cover Python format_message extraction
  tests/arguments/fixtures/messages_python.json
  tests/arguments/test.py
Due: oxfmt

chore: update FormatJS CLI to 1.6.0 (#101)
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/repositories.bzl
  tests/arguments/fixtures/messages_python.json
  tests/arguments/test.py
Due: bazel-lockfile, oxfmt, buildifier-format

chore(main): release 0.12.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

chore(main): release 0.12.1 (#102)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: oxfmt

fix: collect message catalogs through source dependencies
  README.md
  formatjs/aspects.bzl
  tests/collector/BUILD.bazel
  tests/collector/empty.txt
  tests/collector/expected.txt
  tests/collector/fixtures.bzl
  tests/collector/raw.txt
Due: bazel-lockfile, oxfmt, buildifier-format

fix: collect message catalogs through source dependencies (#105)
  README.md
  formatjs/aspects.bzl
  tests/collector/BUILD.bazel
  tests/collector/empty.txt
  tests/collector/expected.txt
  tests/collector/fixtures.bzl
  tests/collector/raw.txt
Due: bazel-lockfile, oxfmt, buildifier-format

Path conditions:
  bazel-lockfile: any of: *.bazel, MODULE.bazel.lock
  oxfmt: any of: *.{js,ts,jsx,tsx,json,yaml,yml,md}
  buildifier-format: any of: *.{bzl,bazel,BUILD,WORKSPACE,MODULE.bazel}
