Repository formatjs/rules_formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, buildifier-format

lefthook.yml:

# See CONTRIBUTING.md for instructions.
# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Format code with oxfmt
    oxfmt:
      glob: "*.{js,ts,jsx,tsx,json,yaml,yml,md}"
      run: pnpm exec oxfmt {staged_files}
      stage_fixed: true

    buildifier-format:
      glob: "*.{bzl,bazel,BUILD,WORKSPACE,MODULE.bazel}"
      run: |
        for file in {staged_files}; do
          bazel run @buildifier_prebuilt//:buildifier -- --mode=fix "$PWD/$file"
        done
      stage_fixed: true

    # Check for typos
    typos:
      run: |
        if command -v typos &> /dev/null; then
          typos
        else
          echo "typos not installed, skipping"
        fi

# Note: The following pre-commit hooks are not available in lefthook or were removed:
# - check-hooks-apply (meta hook, lefthook-specific)
# - check-useless-excludes (meta hook, lefthook-specific)
# - check-executables-have-shebangs (replaced by manual checks)
# - check-shebang-scripts-are-executable (replaced by manual checks)
# - check-toml (can be added if needed with custom command)
# - check-yaml (can be added if needed with custom command)
# - destroyed-symlinks (not commonly available)
# - detect-private-key (security check, consider using git-secrets or similar)
# - end-of-file-fixer (handled by oxfmt)
# - trailing-whitespace (handled by oxfmt)
# - commitizen (commit message validation, would need separate setup)

commit-msg:
  commands:
    # Commit message validation with commitizen
    commitizen:
      run: |
        if command -v cz &> /dev/null; then
          cz check --commit-msg-file {1}
        else
          echo "commitizen not installed, skipping commit message validation"
        fi

build: fix hooks verification
  .prettierignore
  commitlint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: oxfmt

build: fix hooks verification (#19)
  .prettierignore
  commitlint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: oxfmt

build: fix release-prep.sh
  .github/workflows/release_prep.sh
  examples/simple/MODULE.bazel
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: oxfmt, buildifier-format

build: allow dispatch release
  .github/workflows/release.yaml
Due: oxfmt

fix: more docs
  BUILD.bazel
  MODULE.bazel.lock
  formatjs/aggregate.bzl
  formatjs/compile.bzl
  formatjs/extract.bzl
  formatjs/verify.bzl
  formatjs_cli/extensions.bzl
Due: buildifier-format

fix: declare rules_shell as dep
  MODULE.bazel
  MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  tools/preset.bazelrc
Due: buildifier-format

build: add script to test all
  examples/aggregate/MODULE.bazel.lock
  test-all.sh
Due: none

fix: fix toolchains issue and maintainers
  .bcr/metadata.template.json
  .github/workflows/release.yaml
  .github/workflows/release_prep.sh
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel
  examples/aggregate/MODULE.bazel.lock
  examples/simple/MODULE.bazel
  examples/simple/MODULE.bazel.lock
  formatjs_cli/BUILD.bazel
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: oxfmt, buildifier-format

fix: fix maintainer
  .bcr/metadata.template.json
Due: oxfmt

fix: set version properly
  MODULE.bazel
Due: buildifier-format

fix: add other platforms
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: buildifier-format

fix: add e2e/smoke to tar so bcr presubmit can run
  .bcr/presubmit.yml
  .github/workflows/release_prep.sh
  e2e/smoke/.bazelrc
  e2e/smoke/BUILD.bazel
  e2e/smoke/MODULE.bazel
  e2e/smoke/MODULE.bazel.lock
  e2e/smoke/README.md
  e2e/smoke/REPO.bazel
  e2e/smoke/src/Hello.tsx
Due: oxfmt, buildifier-format

fix: add e2e/smoke to tar so bcr presubmit can run (#20)
  .bcr/presubmit.yml
  .github/workflows/release_prep.sh
  e2e/smoke/.bazelrc
  e2e/smoke/BUILD.bazel
  e2e/smoke/MODULE.bazel
  e2e/smoke/MODULE.bazel.lock
  e2e/smoke/README.md
  e2e/smoke/REPO.bazel
  e2e/smoke/src/Hello.tsx
Due: oxfmt, buildifier-format

feat: allow aggregate to output to specific file
  examples/aggregate/app/BUILD.bazel
  examples/aggregate/app/transitive_messages.fixture.json
  formatjs/aggregate.bzl
Due: oxfmt, buildifier-format

feat: allow aggregate to output to specific file (#22)
  examples/aggregate/app/BUILD.bazel
  examples/aggregate/app/transitive_messages.fixture.json
  formatjs/aggregate.bzl
Due: oxfmt, buildifier-format

fix: remove rules_shell dep
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  examples/simple/tests_verify/BUILD.bazel
  examples/simple/tests_verify/README.md
  formatjs/aggregate.bzl
  formatjs/compile.bzl
  formatjs/extract.bzl
  formatjs/verify.bzl
Due: oxfmt, buildifier-format

fix: remove rules_shell dep (#23)
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  examples/simple/tests_verify/BUILD.bazel
  examples/simple/tests_verify/README.md
  formatjs/aggregate.bzl
  formatjs/compile.bzl
  formatjs/extract.bzl
  formatjs/verify.bzl
Due: oxfmt, buildifier-format

feat: allow custom formatjs_cli toolchain
  .gitattributes
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/BUILD.bazel
  examples/custom_version/MODULE.bazel
  examples/custom_version/MODULE.bazel.lock
  examples/custom_version/README.md
  examples/custom_version/test_cli_version.sh
  examples/custom_version/test_extraction.sh
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: oxfmt, buildifier-format

feat: allow custom formatjs_cli toolchain (#24)
  .gitattributes
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/BUILD.bazel
  examples/custom_version/MODULE.bazel
  examples/custom_version/MODULE.bazel.lock
  examples/custom_version/README.md
  examples/custom_version/test_cli_version.sh
  examples/custom_version/test_extraction.sh
  formatjs_cli/extensions.bzl
  formatjs_cli/repositories.bzl
Due: oxfmt, buildifier-format

build: remove lockfile_mode
  .bazelrc
  .github/workflows/conventional-commits.yaml
  lefthook.yml
  tools/preset.bazelrc
Due: oxfmt

build: resync preset
  lefthook.yml
  tools/preset.bazelrc
Due: oxfmt

feat: support all args from formatjs_cli
  BUILD.dev.bazel
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/BUILD.bazel
  examples/simple/MODULE.bazel.lock
  examples/simple/compile_messages.fixture.json
  formatjs/compile.bzl
  formatjs/extract.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/compiled_ast.json
  tests/arguments/fixtures/compiled_multiple.json
  tests/arguments/fixtures/messages_default.json
  tests/arguments/fixtures/messages_merge.json
  tests/arguments/test.tsx
  tests/arguments/test_empty.tsx
  tests/arguments/test_merge.tsx
Due: oxfmt, buildifier-format

fix: use newer formatjs_cli
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format

fix: bump up formatjs_cli to 0.1.4
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  examples/simple/compile_messages.fixture.json
  formatjs_cli/repositories.bzl
  tests/arguments/fixtures/compiled_ast.json
  tests/arguments/fixtures/compiled_multiple.json
Due: oxfmt, buildifier-format

fix: up formatjs_cli to 0.1.5
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format

fix: up formatjs_cli to 0.1.6
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format

fix: rm e2e smoke
  .bcr/presubmit.yml
  .github/workflows/release_prep.sh
  e2e/smoke/.bazelrc
  e2e/smoke/BUILD.bazel
  e2e/smoke/MODULE.bazel
  e2e/smoke/MODULE.bazel.lock
  e2e/smoke/README.md
  e2e/smoke/REPO.bazel
  e2e/smoke/src/Hello.tsx
Due: oxfmt, buildifier-format

build: bump to 0.1.8
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format

fix: add latest formatjs_cli
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format

fix: fix bcr configs
  .bazelrc
  .bazelversion
  .bcr/presubmit.yml
  MODULE.bazel.lock
  tools/preset.bazelrc
Due: oxfmt

fix: upgrade CLI to 0.1.11
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/messages_crowdin.json
Due: oxfmt, buildifier-format

fix: upgrade CLI to 0.1.11 (#34)
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  formatjs_cli/repositories.bzl
  tests/arguments/BUILD.bazel
  tests/arguments/fixtures/messages_crowdin.json
Due: oxfmt, buildifier-format

fix: bump formatjs_cli to 1.0.0
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/aggregate/app/all_messages.fixture.json
  examples/aggregate/app/transitive_messages.fixture.json
  examples/custom_version/MODULE.bazel
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  examples/simple/extract_messages.fixture.json
  examples/simple/messages/fr.json
  formatjs_cli/repositories.bzl
  tests/arguments/fixtures/compiled_ast.json
  tests/arguments/fixtures/compiled_multiple.json
  tests/arguments/fixtures/messages_crowdin.json
  tests/arguments/fixtures/messages_default.json
  tests/arguments/fixtures/messages_merge.json
Due: oxfmt, buildifier-format

fix: bump formatjs_cli to 1.0.0 (#39)
  MODULE.bazel
  MODULE.bazel.lock
  examples/aggregate/MODULE.bazel.lock
  examples/aggregate/app/all_messages.fixture.json
  examples/aggregate/app/transitive_messages.fixture.json
  examples/custom_version/MODULE.bazel
  examples/custom_version/MODULE.bazel.lock
  examples/simple/MODULE.bazel.lock
  examples/simple/extract_messages.fixture.json
  examples/simple/messages/fr.json
  formatjs_cli/repositories.bzl
  tests/arguments/fixtures/compiled_ast.json
  tests/arguments/fixtures/compiled_multiple.json
  tests/arguments/fixtures/messages_crowdin.json
  tests/arguments/fixtures/messages_default.json
  tests/arguments/fixtures/messages_merge.json
Due: oxfmt, buildifier-format

fix: remove ignore_directories from REPO.bazel for Bazel 7 compat
  .bazelignore
  REPO.bazel
Due: buildifier-format

fix: remove ignore_directories from REPO.bazel for Bazel 7 compat (#47)
  .bazelignore
  REPO.bazel
Due: buildifier-format

build: update MODULE.bazel.lock
  MODULE.bazel.lock
Due: none

build: update MODULE.bazel.lock (#51)
  MODULE.bazel.lock
Due: none

feat: add formatjs_cli v1.1.0 and v1.1.1
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format

feat: add formatjs_cli v1.1.0 and v1.1.1 (#54)
  MODULE.bazel
  MODULE.bazel.lock
  formatjs_cli/repositories.bzl
Due: buildifier-format
